<%- include("partials/header") -%>
  <h1>Home</h1>
  <p>
    <%= homeStartingContent %>
  </p>

  <% posts.forEach(post=> { %>
    <h1>
      <%= post.title %>
    </h1>
    <p class="truncate">
      <%= post.content %>
    </p>
    <a href="/posts/<%=post.title%>">Read in detail</a>
    <% }); %>



<%- include("partials/footer") -%>